*,
*:after,
:before {
  box-sizing: border-box;
}

body {
    background-color: hsl(209, 96%, 53%);
    padding: 20px 50px;
    text-align: center;
    font-family: Arial,cursive;
}

label {
    margin-right: 30px;
    font-size: 24px;
}

.divider {
    margin: 70px 0;
}

/* 3d Cube */

.view_3d {
    width: 300px;
    height: 300px;
    display: inline-block;
    perspective: 1000px;
}

.cube_3d {
    width: 100%;
    height: 100%;
    display: inline-block;
    text-align: center;
    position: relative;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
}

.panel {
    position: absolute;
    width: 300px;
    height: 300px;
    border: 2px solid hsl(0, 0%, 100%);
    opacity: 0.9;
}
p {
    color: white;
    font-weight: bolder;
    padding-top: 50px;
}

/* 3d Cube Creation */

.front {
    background: hsla(0, 100%, 50%, 0.7);
    z-index: 2;
    transform: translate3d(0,0, 150px);
}

.back {
    background: hsla(240, 100%, 50%, 0.7);
    transform: rotateY(180deg) translate3d(0,0, 150px);
}

.left {
    background: hsla(120, 100%, 50%, 0.7);
    transform: rotateY(-90deg) translate3d(0,0, 150px);
}

.right {
    background: hsla(60, 100%, 50%, 0.7);
    transform: rotateY(90deg) translate3d(0,0, 150px);
}

.top {
    background: hsla(300, 100%, 50%, 0.7);
    transform: rotateX(90deg) translate3d(0,0, 150px);
}

.bottom {
    background: hsla(180, 100%, 50%, 0.7);
    transform: rotateX(-90deg) translate3d(0,0, 150px);
}

/* 3d Cube Transformation */

#front:checked ~ .view_3d .cube_3d {
    transform: rotateY(0deg);
}

#left:checked ~ .view_3d .cube_3d {
    transform: rotateY(90deg);
}

#right:checked ~ .view_3d .cube_3d {
    transform: rotateY(-90deg);
}

#bottom:checked ~ .view_3d .cube_3d {
    transform: rotateX(90deg);
}

#top:checked ~ .view_3d .cube_3d {
    transform: rotateX(-90deg);
}

#back:checked ~ .view_3d .cube_3d {
    transform: rotateY(180deg);
}

 /* backface-visibility */

 #hidden:checked ~ .view_3d .cube_3d .panel {
     backface-visibility: hidden;
 }

 #visible:checked ~ .view_3d .cube_3d .panel {
     backface-visibility: visible;
 }
